/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* main wrapper */
#wrapper {
    display: flex;
    height: calc(100vh - 100px);
}

/* dimensioni nav rispetto ad aside e wrapper */
nav {
    height: calc(100vh - 100px);
    overflow: hidden;
}

#wrapper nav {
    height: 100%;
    width: 250px;
    background-color: black;
}


/* BLOCCO NAVBAR */

#nav_container {
    display: flex;
    flex-direction: column;
    height: 90%;
}


/* IL LOGO */
#logo_spotify {
    display: flex;
    text-align: center;
    align-items: center;
}

#logo_spotify #big_img {
    margin: 20px 20px;
}

#logo_spotify #small_img {
    display: none;
}


/* MENU' NAVBAR */

/* icone menù */
#home_menu {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 20px; 
}

#home_menu a {
    text-decoration: none;
    padding-left: 10px;
}

#home_menu i {
    font-size: 30px;
    color: #a2a2a2;
}

#home_menu span {
    color: #a2a2a2;
    font-size: 15px;
    padding-left: 10px;
}

#home_menu span:hover {
    color: white;
}

#home_menu a:active {
    display: block;
    border-left: 2px solid green;
}

/* PLAYLIST NAVBAR */
#nav_playlist {
    margin: 0 20px;
    max-height: 50%;
    overflow: auto;
}

#nav_playlist h3 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    color: #a2a2a2;
}

/* icona playlist */
.inline_block {
    display: inline-block;
    vertical-align: middle;
}

#nav_playlist i {
    font-size: 50px;
    color: #a2a2a2;
}

#nav_playlist i:hover {
    color: white;
}

#nav_playlist li {
    color: #a2a2a2;
    list-style: none;
}

#your_playlist li:hover {
    color: white;
}

#nav_playlist span {
    vertical-align: middle;
    color: #a2a2a2;
    font-size: 20px;
    padding-bottom: 30px;
}

#nav_playlist span:hover {
    color:white;
}

/* lista della playlist del nav*/
#your_playlist li {
    text-decoration: none;
    padding: 10px 10px;
}

/* ACCOUNT/DOWNLOAD */
#nav_account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 75px;
}

/* collegamento per il download */
#download_app {
    display: flex;   
}

#download_app .img_nav {
    height: 20px;
    width: 20px;
    filter: invert(70%) sepia(0%) saturate(0%) hue-rotate(41deg) brightness(92%) contrast(89%);
    margin-left: 20px;
}

#download_app span {
    color: #a2a2a2;
    margin-bottom: 10px;
    margin-left: 10px;
}

#download_app span:hover {
    color: white;
}

/* bordo divisore */
#nav_border {
    border: 1px solid #a2a2a2;
    width: 70%;
    margin-top: 5px;
    margin-left: 25px;
}

/* user */
#user {
    display: flex;
    margin: 5px 15px;
    align-items: center;
}

#user a {
    text-decoration: none;
}

#user i {
    font-size: 20px;
    padding: 5px;
    background-color: #a2a2a2;
    color: white;
    border-radius: 9999px;
}

#user span {
    margin-left: 5px;
    font-size: 20px;
    color: #a2a2a2;
}

#user span:hover {
    color: white;
}


/* BLOCCO DEL MAIN */

/* regole del main */
#wrapper main {
    overflow: auto;
    height: 100%;
    width: calc(100% - 250px);
    background-color: #141922;
}

#main-fixed {
    margin-top: 100px;
}


/* UPGRADE */
#upgrade {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    height: 100px;
    width: calc(100% - 250px);
    overflow: auto;
    background-color: rgba(8, 11, 18, 0.5);
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
}

/* link upgrade */
#upgrade a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 40px;
    border-radius: 9999px;
    border: 1px solid white;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#upgrade a:hover {
    transform: scale(1.1);    
}


/* MENU' DEL MAIN */
#main_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

/* lista del main */
#main_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 60%;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #a2a2a2;
    padding: 10px;
}

#main_list a:hover {
    color: white;
}

#main_list a:active {
    display: block;
    color: white;
    padding: 5px;
    border-bottom: 2px solid green;
}


/* ALBUM E TESTI */
h2 {
    color: white;
    font-size: 35px;
    margin-left: 30px;
}

#favorite {
    margin-top: 80px;
}

/* span sotto il 2° e 3° h2 */
.suggeriti {
    color: #5e5e5e;
    font-size: 15px;
    margin-left: 30px;
}

/* righe delle card */
.row_wrap {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;  
}


/* elementi all'interno delle righe */

/* container album text */
.card {
    height: 335px;
    width: 230px;
    margin: 20px 20px;
    /* overflow: hidden; */
    transition: all 0.3s ease;
}

/* div che racchiude l'immagine */
.album {
    position: relative;
    display: inline-block;
    width: 100%;
}

.album img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: width 0.3s ease;
}

.album i {
    font-size: 40px;
    color: white;
    border: 4px solid white;
    border-radius: 9999px;
    padding: 5px 10px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
    top: 0;
    left: 0;
}

.album:hover .overlay {
    display: flex; 
    justify-content: center;
    align-items: center;
}

/* div tondo che contiene l'immagine del disco */

.album_2 {
    overflow: hidden;
    position: relative;
    border-radius: 9999px;
}

.album_2 i {
    font-size: 40px;
    color: white;
    border: 4px solid white;
    border-radius: 9999px;
    padding: 5px 10px;
}

.album_2:hover .overlay {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: width 0.3s ease;
}


 /* div che racchiude il testo sotto l'immagine  */

.text {
    text-align: center;
    width: 100%;  
}

h3 {
    font-size: 1.2rem;
    color: white;
    padding-bottom: 10px;
}

.text span {
    font-size: 1rem;
    color: #a2a2a2;
}


/* BLOCCO ASIDE */

aside {
    display: flex;
    height: 100px;
    background-color: #282828;
}

#album_aside {
    /* DEBUG */
    height: 100px;
    width: 20%;
}

/* MUSICA SELEZIONATA */
.aside_corner {
    display: flex;
}

/* immagine piccola del disco selezionato */
.aside_corner img {
    max-width: 60px;
    margin: 20px 10px;
    vertical-align: middle;
}

/* titolo del disco selezionato */
#cd_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #a2a2a2;
}

#special:hover {
    color: white;
    text-decoration: underline;
}

#cd_text strong {
    color: #a2a2a2;
}

/* icone */
#cd_icon {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

#cd_icon a {
    font-size: 20px;
    color: #a2a2a2;
    padding-right: 10px;
}

#cd_icon a:hover {
    color: white;
}

/* PLAYER CONSOLE */
#player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

/* parte della console */
#console {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 50%;
    margin-bottom: 10px;
}

/* tasti console */
#console a {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

#play_button {
    padding: 5px 10px;
    border: 3px solid white;
    border-radius: 9999px;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

#play_button:hover {
    transform: translateY(-7px);    
}

/* timer della canzone */
#time {
    display: flex;
    justify-content: center;
    width: 70%;
}

.timer_song {
    color: white;
    font-size: 12px;
    margin: 0 20px;
}

/* barra progressi della canzone */
#bar_progress {
    width: 80%;
    border-radius: 9999px;
    background-color: #5e5e5e;
    position: relative;
}

#progress {
    height:100%;
    width: 25%;
    background-color: white;
    border-radius: 9999px;
    transition: width 0.1s;
    cursor: pointer;
}

#progress:hover {
    background-color: #4caf50;
}

.progress_thumb {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 9999px;
    border: 3px solid gray;
    top: -2px;
    left: 24%;
    display: none;
    cursor: pointer;
}

.progress_thumb:hover {
    display: block;
}

/* IMPOSTAZIONI DEL PLAYER */
#setting {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}

#setting_volume {
    display: flex;
}

#setting_volume a {
    font-size: 15px;
    padding: 0 10px;
}

#volume_border {
    border-radius: 9999px;
    background-color:  #5e5e5e;
    width: 150px;
    margin-right: 10px;
}

#set_volume {
    transition: width 0.1s;
    height:100%;
    width: 35%;
    background-color: white;
    border-radius: 9999px;
    cursor: pointer;
}

#set_volume:hover {
    background-color: #4caf50;;
}


/* RESPONSIVE */

/* versione tablet */

@media screen and (max-width:1800px) {

    .card {
        width: 220px;
        height: 300px;
    }
    
}

@media screen and (max-width:1600px) {

    .card {
        width: 210px;
        height: 310px;
    }

}

@media screen and (max-width:1510px) {

    #long_text {
        display: none;
    }
}

@media screen and (max-width:1400px) {

    .card {
        width: 200px;
        height: 290px;
    }
    
}

@media screen and (max-width: 1200px) {
    .card {
        width: 190px;
        height: 280px;
    }

}

@media screen and (max-width: 1000px) {
    .card {
        width: 180px;
        height: 270px;
    }
}

/* versione mobile xs */
@media screen and (max-width: 900px) {

    /* blocco navigazione principale */
    #wrapper nav {
        width: 80px;
    } 

    /* blocco di contenuto principale */
    #wrapper main {
        width: calc(100% - 80px);
    } 

    /* elementi del nav */
    #logo_spotify #big_img {
        display: none;
    }

    #logo_spotify #small_img {
        display: flex;
        margin: 20px 15px;
        height: 50px;
        width: 50px;
    }

    #home_menu {
        margin: 0 15px;
    }

    #home_menu span {
        display:none
    }

    #nav_playlist h3{
        display: none;
    }

    #nav_playlist .inline_block {
        display:none;
    }

    #your_playlist {
        display:none;
    }

    #nav_account span {
        display: none;
    }

    #download_app .img_nav {
        margin-left: 28px;
    }

    #nav_border {
        display:none;
    }

    #user span {
        display: none;
    }


    /* elementi main */

    #upgrade {
        width: calc(100% - 80px);
    }

    #main_list {
        width: 80%;
    }

    .card {
        width: 230px;
        height: 335px;
    }

    #long_text {
        display: block;
    }

    /* elementi footer */
    #cd_icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }

    #volume_border {
        width: 80px ;
    }
} 


    /* versione ristretta verticalmente */
    @media screen  and (max-height:500px){

    #nav_account {
        display: none;
    }
    
}
    

