/* REGOLE GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* BLOCCO CONTAINER #WRAPPER*/

#wrapper {
    display: flex;
    height: calc(100vh - 100px);
}

nav {
    height: calc(100vh - 100px);
    overflow: hidden;
}

#wrapper nav {
    height: 100%;
    width: 250px;
    background-color: black;
}


/* BLOCCO NAVBAR */

#nav_container {
    display: flex;
    flex-direction: column;
    height: 90%;
}


/* IL LOGO */
#logo_spotify {
    display: flex;
    text-align: center;
    align-items: center;
    color: white;
   

}

#logo_spotify #big_img {
    margin: 20px 20px;
}

#logo_spotify #small_img {
    display: none;
}


/* MENU' NAVBAR */
#home_menu {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 20px; 
}

#home_menu a {
    text-decoration: none;
    padding-left: 10px;
}

#home_menu i {
    font-size: 30px;
    color: #a2a2a2;
}

#home_menu span {
    color: #a2a2a2;
    font-size: 15px;
    padding-left: 10px;
}

#home_menu span:hover {
    color: white;
}

#home_menu a:active {
    display: block;
    padding: 5px;
    border-left: 2px solid green;
}

/* PLAYLIST NAVBAR */
#nav_playlist {
    margin: 0 20px;
    max-height: 50%;
    overflow: auto;

}

.inline_block {
    display: inline-block;
    vertical-align: middle;
}

#nav_playlist h3 {
    font-size: 20px;
    padding: 10px 10px;
    color: white;
}

#nav_playlist i {
    font-size: 50px;
    color: #a2a2a2;
}

#nav_playlist li {
    color: #a2a2a2;
    list-style: none;
}

#your_playlist li:hover {
    color: white;
}

#nav_playlist span {
    vertical-align: middle;
    color: white;
    font-size: 20px;
    padding-bottom: 30px;
}

#your_playlist li {
    text-decoration: none;
    padding: 10px 10px;
}

/* ACCOUNT/DOWNLOAD */
#nav_account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10%;
}

#download_app {
    display: flex;   
}

#download_app .img_nav {
    height: 20px;
    width: 20px;
    filter: invert(70%) sepia(0%) saturate(0%) hue-rotate(41deg) brightness(92%) contrast(89%);
    margin-left: 20px;
}

#download_app span {
    color: #a2a2a2;
    margin-bottom: 10px;
    margin-left: 10px;
}

#download_app span:hover {
    color: white;
}

#nav_border {
    border: 1px solid #a2a2a2;
    width: 70%;
    margin-top: 5px;
    margin-left: 25px;
}

#user {
    display: flex;
    margin: 5px 15px;
    align-items: center;
}

#user a {
    text-decoration: none;
}

#user i {
    font-size: 20px;
    padding: 5px;
    background-color: #a2a2a2;
    color: white;
    border-radius: 9999px;
}

#user span {
    margin-left: 5px;
    font-size: 20px;
    color: #a2a2a2;
}

#user span:hover {
    color: white;
}


/* BLOCCO DEL MAIN */

#wrapper main {
    overflow: auto;
    height: 100%;
    width: calc(100% - 250px);
    background-color: #141922;
}

#main-fixed {
    width: 100%;
    background-color: rgba(8, 11, 18, 0.5);
    height: 100px;
}


/* UPGRADE */
#upgrade {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    height: 100%;

    /* position: fixed;
    z-index: 9999;
    top: 0; */
}

#upgrade a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 40px;
    border-radius: 9999px;
    border: 1px solid white;
    text-decoration: none;
    position: fixed;
    z-index: 9999;
    transition: transform 0.3s ease, color 0.3s ease;
}

#upgrade a:hover {
    transform: translateY(-10px);    
}

/* MENU' DEL MAIN */
#main_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

#main_list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 60%;
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: #a2a2a2;
    padding: 10px;
}

#main_list a:active {
    display: block;
    color: white;
    padding: 5px;
    border-bottom: 2px solid green;
}


/* ALBUM E TESTI */
h2 {
    color: white;
    font-size: 35px;
    margin-left: 30px;
    margin-top: 80px;
}

.suggeriti {
    color: #5e5e5e;
    font-size: 15px;
    margin-left: 30px;
}

.row_wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.card {
    width: 230px;
    margin: 20px 10px;
}

.album {
    position: relative;
    display: inline-block;
}

.album img {
    max-width: 100%;
    height: auto;
    display: block;
}

.album i {
    font-size: 40px;
    color: white;
    border: 4px solid white;
    border-radius: 50%;
    padding: 5px 10px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
    top: 0;
}

.album:hover .overlay {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.album_2 {
    position: relative;
    display: inline-block;
}

.album_2:hover .overlay {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.album_2 i {
    font-size: 40px;
    color: white;
    border: 4px solid white;
    border-radius: 50%;
    padding: 5px 10px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    padding:5px;
}

h3 {
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
}

.text span {
    font-size: 17px;
    color: #a2a2a2;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;  
}

.row .album_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 230px;
    width: 230px;
    border-radius: 50%;
}

.row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* BLOCCO ASIDE */

aside {
    display: flex;
    height: 100px;
    background-color: #282828;
}

#album_aside {
    /* DEBUG */
    height: 100px;
    width: 20%;
}

/* MUSICA SELEZIONATA */
.aside_corner {
    display: flex;
}

.aside_corner img {
    max-width: 60px;
    margin: 20px 10px;
    vertical-align: middle;
}

#cd_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #a2a2a2;
}


#special:hover {
    color: white;
    text-decoration: underline;
}

#cd_text strong {
    color: #a2a2a2;
}

#cd_icon {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

#cd_icon a {
    font-size: 20px;
    color: #a2a2a2;
    padding-right: 10px;
}

#cd_icon a:hover {
    color: white;
}

/* PLAYER CONSOLE */
#player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#console {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 50%;
    margin-bottom: 10px;
}

#console a {
    color: white;
    font-size: 25px;
}

#play_button {
    padding: 5px 10px;
    border: 3px solid white;
    border-radius: 9999px;
    transition: transform 0.3s ease, color 0.3s ease;
}

#play_button:hover {
    transform: translateY(-7px);    
}

#time {
    display: flex;
    justify-content: center;
    width: 70%;
}

.timer_song {
    color: white;
    font-size: 12px;
    margin: 0 20px;
}

#bar_progress {
    width: 80%;
    border-radius: 9999px;
    background-color: #5e5e5e;
    position: relative;
}

#progress {
    height:100%;
    width: 25%;
    background-color: white;
    border-radius: 9999px;
    transition: width 0.1s;
}

#progress:hover {
    background-color: #4caf50;
}

.progress-thumb {
    width: 20px;
    height: 20px;
    background-color: #4caf50;
    border-radius: 50%;
    border: 2px solid gray;
    position: absolute;
    top: -2px;
    left: 24%;
    display: none;
}

#progress:hover .progress-thumb {
    display: block;
}

/* IMPOSTAZIONI DEL PLAYER */
#setting {
    display: flex;
    align-items: center;
    justify-content: flex-end;
     width: 20%;
}

#setting_volume {
    display: flex;
}

#setting_volume a {
    font-size: 15px;
    padding: 0 10px;
}

#volume_border {
    border-radius: 9999px;
    background-color:  #5e5e5e;
    width: 150px;
    margin-right: 10px;
}

#set_volume {
    transition: width 0.1s;
    height:100%;
    width: 35%;
    background-color: white;
    border-radius: 9999px;
}

#set_volume:hover {
    background-color: #4caf50;;
}


/* RESPONSIVE */

/* versione tablet */

@media screen and (max_width:874) {
    
}


/* versione mobile s */

@media screen and (max-width:639px) {
    
}


/* versione mobile xs */
@media screen and (max-width: 896px) {

    /* blocco navigazione principale */
    #wrapper nav {
        width: 80px;
    } 

    /* blocco di contenuto principale */
    #wrapper main {
        width: calc(100% - 80px);
    } 

    /* elementi del nav */
    #logo_spotify #big_img {
        display: none;
    }

    #logo_spotify #small_img {
        display: flex;
        margin: 20px 15px;
        height: 50px;
        width: 50px;
    }

    #home_menu {
        margin: 0 15px;
    }

    #home_menu span {
        display:none
    }

    #nav_playlist h3{
        display: none;
    }

    #nav_playlist .inline_block {
        display:none;
    }

    #your_playlist {
        display:none;
    }

    #nav_account span {
        display: none;
    }

    #download_app .img_nav {
        margin-left: 28px;
    }

    #nav_border {
        display:none;
    }

    #user span {
        display: none;
    }

    /* elementi footer */
    #cd_icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }

    #volume_border {
        width: 80px ;
    }
} 

    

